body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/6204266/pexels-photo-6204266.jpeg?auto=compress&cs=tinysrgb&w=600");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(185, 136, 170), 69, 129);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button.complete {
    background-color: rgb(34, 147, 54);
    margin-right: 5px;
}



button.delete {
    background-color: #dc3545;
    cursor: pointer;
}

button.delete:hover {
    background-color: #c82333;
}
